
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>11ty Test Bed</title>
  <meta name="description" content="Test Bed project for learning how to use 11ty">
  <meta name="author" content="Adrian Sandu">
</head>
<body>
	<h1>
		Article Listing: {{ pageTitle }}
	</h1>

	<hr>
    {{ content }}
	<hr>

	{% for article in collections.articles %}
		<h2><a href="{{ post.url }}">{{ article.data.pageTitle }}</a></h2>
	    <em>{{ article.date | date: "%Y-%m-%d" }}</em>
	{% endfor %}
</body>
</html>
