---
layout: layouts/base.liquid
---

<h1>
	Article Listing: {{ pageTitle }}
</h1>

<hr>
{{ content }}
<hr>

{%- assign articles = collections.articles | reverse -%}
{%- for article in articles %}
	<h2><a href="{{ article.url }}">{{ article.data.pageTitle }}</a></h2>
	<em>{{ article.date | date: "%Y-%m-%d" }}</em>
{% endfor %}
