---
layout: layouts/base.liquid
---

<h1>
	Blog Listing: {{ pageTitle }}
</h1>

<hr>
{{ content }}
<hr>

{%- assign blog = collections.blog | reverse -%}
{%- for post in blog %}
	<h2><a href="{{ post.url }}">{{ post.data.pageTitle }}</a></h2>
	<em>{{ post.date | date: "%Y-%m-%d" }}</em>
{% endfor %}