---
layout: layouts/base.liquid
---

<h1>{{homeHeading}}</h1>

<hr>
{{ content }}
<hr>

{% for post in collections.blog %}
	<h2><a href="{{ post.url }}">{{ post.data.pageTitle }}</a></h2>
	<em>{{ post.date | date: "%Y-%m-%d" }}</em>
{% endfor %}

<hr>

{%- assign articles = collections.articles -%}
{%- for article in articles %}
	<h2><a href="{{ article.url }}">{{ article.data.pageTitle }}</a></h2>
	<em>{{ article.date | date: "%Y-%m-%d" }}</em>
{% endfor %}
